body {
    background-color: rgb(17, 19, 41);
}

p {
    color: #464047;
    font-size: 130px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 0;
}

#error {
    width: 800px;
    margin: auto;
}

#page {
    font-size: 50px;
}

img {
    width: 800px;
    margin-top: 50px;
}

#error404 {
    color: #F9B55C;
    font-size: 100px;
    margin-top: 30px;
}

#p_special {
    font-size: 20px;
}

a {
    color: #4e115a;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
    color: #464047;
}