body {
    margin: 0;
    background-color: rgba(250, 250, 250, 0.918);
}

ul {
    width: 300px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: solid #efefef 1px;
    height: 100vh;
    background-color: white;
    position: fixed;
}

li {
    width: 300px;
    height: 50px;
    font-size: 30px;
    padding-left: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
    font-weight: bold;
}

a {
    color: #202124;
    text-decoration: none;
}

a:hover {
    color: #3E99ED;
}

.page {
    color: #3E99ED;
}

.welcome_message {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #202124;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    width: 370px;
    height: 50px;
    padding-bottom: 7px;
    position: absolute;
    right: 0;
    top: 0;
}

a p.welcome_message:hover {
    color: #3E99ED;
    text-decoration: underline;
}

img {
    margin-right: 13px;
}

hr {
    width: 80%;
    background-color: #efefef;
    color: #efefef;
    height: 1px;
    border: none;
}

.img_admin {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.sign_out {
    color: rgb(228, 31, 31);
    font-size: 18px;
}

.sign_out_img {
    vertical-align: middle;
}

.sign_out:hover {
    color: rgb(133, 23, 23);
}

.logo {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-bottom: solid 1px #efefef;
}

.profil {
    display: flex;
}

.data {
    background-color: white;
    border: 1px solid #efefef;
    height: 700px;
    width: 900px;
    margin-left: 450px;
    margin-top: 20px;
}

.datas {
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 900px;
    color: #5F6368;
    font-weight: bold;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    width: 30%;
    padding-left: 100px;
}

h1 {
    text-align: center;
    color: #202124;
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.descript_h1 {
    text-align: center;
    color: #5F6368;
    margin-bottom: 50px;
    margin-top: 4px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.datas_result {
    width: 70%;
    color: #32353f;
    transform-origin: left;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.update {
    color: #3E99ED;
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a.update:hover {
    color: rgb(106, 30, 136);
    text-decoration: none;
    cursor: pointer;
}

.update_text {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.update_text_marg {
    margin-top: 80px;
}

.success_modif {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 300px;
}

.success_message {
    height: 50px;
    width: 900px;
    border: 1px solid rgb(20, 71, 20);
    background-color: rgb(143, 175, 143);
    color: rgb(20, 71, 20);
    text-align: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin-left: 450px;
}

.success_text {
    margin-top: 14px;
    margin-bottom: 14px;
}


/* ----------------------------------------------- Admin Forms ----------------------------------------------- */

.formsignup input,
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Cadre du formulaire*/

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 361px;
    border: 1px solid #efefef;
    margin-left: 50%;
    margin-top: 100px;
    margin-bottom: 0;
}


/* texte inscription */

form p {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 18px;
    width: 255px;
    line-height: 21px;
    color: #999;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

input {
    height: 31px;
    width: 255px;
    margin-bottom: 7px;
    font-size: 13px;
    background-color: #FAFAFA;
    border: 1px solid #efefef;
    padding-left: 10px;
}

.button {
    height: 32px;
    width: 255px;
    background-color: #3E99ED;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin-bottom: 50px;
    cursor: pointer;
}


/* marge top texte "pas encore de compte ?" */

.formmarg {
    margin-top: 20px;
}


/* margin bottom entre dernier input et button */

.last_input {
    margin-bottom: 30px;
}


/* margin bottom premier bouton et mdpf */

.fbutton {
    margin-bottom: 10px
}

::placeholder {
    color: #999999;
}

.update_info {
    width: 348px;
    margin-top: 250px;
    margin-left: 38%;
}

.alert_message {
    color: red;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.actual_pass {
    width: 300px;
}

.h4-info-modif {
    padding-left: 45px;
    padding-right: 45px;
    color: #586069;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.radio-btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100px;    
}

.radio-btn:hover {
    cursor: pointer;
}

.radio:hover {
    cursor: pointer;
}

.yes {
    margin-left: 60px;
}

/* ----------------------------------------------- Take Pictures ----------------------------------------------- */
.takepicture-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-left: 515px;
    margin-top: 150px;
    border: 10px #333 solid;
    margin-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    width: 60%;
}

#takePicture {
    width: 520px;
    height: 420px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 23%;
}

#canvas {
    border: 10px #333 solid;
    background-color: #666;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

video {
    display: none;
}

#photos {
    height: 900px;
    width: 400px;
    margin-top: 4%;
    border: 1px solid #efefef;
    overflow: auto;
}

#photos img {
    width: 350px;
    border: 10px #333 solid;
    margin-left: 10px;
}

#div-button {
    margin-top: 10px;
}

.btn {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: #3E99ED;
    border: solid 2px #3E99ED;
    color: white;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    outline: 0;
}

.tp-btn {
    padding: 0;
    background-color: #3E99ED;
    height: 49px;
    width: 49px;
    border-radius: 50%;
    outline: 0;
}

.tp-btn:hover {
    background-color: rgb(97, 165, 228);
    cursor: pointer;
    border: 1px solid #333;
}

.tp-btn-img {
    margin: 0;
}

.btn:hover {
    background-color: rgb(97, 165, 228);
    cursor: pointer;
    border: 1px solid #333;
}

.takenImage {
    margin-bottom: 15px;
}

#form-upld-img {
    margin: 0;
    border: 0;
    width: 155px;
    margin-left: 182.5px;
}

.upl-img-div {
    width: 520px;
}

.btn-upld {
    width: 155px;
    height: 24px;
    border-radius: 20px;
    background-color: rgb(121, 118, 118);
    color: white;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    outline: 0;
    padding-top: 8px;
    text-align: center;
}

.btn-upld:hover {
    background-color: rgb(143, 140, 140);
    cursor: pointer;
    border: 1px solid #333;
}

.red-btn {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: #DD4C45;
    color: white;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    outline: 0;
}

.red-btn:hover {
    background-color: rgb(223, 95, 88);
    cursor: pointer;
    border: 1px solid #333;
}

.green-btn {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(84, 168, 84);
    color: white;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    outline: 0;
}

.green-btn:hover {
    background-color: rgb(114, 167, 114);
    cursor: pointer;
    border: 1px solid #333;
}

.clean-btn {
    margin-top: 10px;
}

#clean-canvas {
    margin-top: 5px;
}

#filters {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 140px;
    border: 1px solid #efefef;
    overflow-x: auto;
    margin-top: 20px;
    background-color: #FAFAFA;
    position: unset;
    margin-top: 10px;
}

.filter {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.filter:hover {
    cursor: pointer;
}

/* ----------------------------------------------- My Gallery ----------------------------------------------- */
#my-photos-container {
    margin-bottom: 300px;
    margin-left: 550px;
    margin-top: 130px;
}

#my-photos {
    width: 1539px;
    height: 1910px;
    overflow: auto;
    border: 1px solid #efefef;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    padding: 13px;
    padding-left: 26px;
}

#individualPicture {
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.pagination a:last-child {
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}

.top-pag {
margin-bottom: 15px;
}

.bottom-pag {
margin-top: 15px;
}

.a-active {
background-color: #3E99ED;
color: white;
border: 1px solid #3E99ED;
}

.like:hover {
cursor: pointer;
}

#like-comment {
display: flex;
align-items: center;
}

.img-my-gallery {
border-radius: 5px;
}

.delete-button {
    border: 0;
    margin: 0;
    background-color: rgba(250, 250, 250, 0.918);
    display: contents;
}

/* ----------------------------------------------- Home Page ----------------------------------------------- */

#all-pages {
    display: flex;
}

#my-photos-container-2 {
    margin-bottom: 300px;
    margin-left: 410px;
    margin-top: 130px;
}

#my-photos-2 {
width: 1314px;
height: 1910px;
overflow: auto;
border: 1px solid #efefef;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 1fr);
justify-content: center;
padding: 13px;
padding-right: 0;
}

#individualPicture-2 {
margin-bottom: 20px;
width: 425px;
}

.img-home-page {
    width: 425px;
    border-radius: 5px;
  }

#comments {
    position: fixed;
    width: 450px;
    height: 770px;
    border: 1px solid #efefef;
    margin-top: 310px;
    margin-left: 1850px;
}

#comments-h1 {
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    margin-top: 10px;
    color: #202124;
}

#comments-description {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0;
    color: #586069;
}

#add-comment-form {
    margin: 0;
    width: 435px;
    border: 0;
    background-color: rgba(250, 250, 250, 0.918);
}

textarea {
    width: 420px;
    height: 85px;
    font-size: 15px;
    border: 1px solid #efefef;
    resize: none;
    overflow: auto;
    margin-left: 11.5px;
    outline: 0;
}

#display-comments {
    height: 480px;
    padding: 15px;
    overflow: auto;
}

.add-comment {
    margin-top: 11px;
}

#like-comment {
    width: 0;
}

.like {
    width: 30px;
    height: 32px;
    margin: 0;
    border: 0;
    margin-right: 8px;
    background-color: rgba(250, 250, 250, 0.918);
    outline: 0;
}

.form-like-comment {
    border: 0;
    margin: 0;
    background-color: rgba(250, 250, 250, 0.918);
}

.like-word {
    margin-left: 6px;
}

.comment-word {
    margin-left: 272px;
}

.like-phrase {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: #9a9fa5;
}

h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

.comment-display {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #586069;
}

/* ----------------------------------------------- Responsive ----------------------------------------------- */

@media all and (min-width: 2230px) and (max-width: 2340px)
{
    #my-photos-container-2 {
        margin-left: 23%;
    }

    #my-photos-2 {
        width: 1365px;
        height: 1755px;
    }

    .img-home-page {
        width: 433px;
    }

    #comments {
        margin-left: 1740px;
    }
}

@media all and (min-width: 2115px) and (max-width: 2230px)
{
    #my-photos-container-2 {
        margin-left: 29%;
    }

    #my-photos-2 {
        width: 1185px;
        height: 1755px;
    }

    .img-home-page {
        width: 375px;
    }

    #comments {
        margin-left: 1620px;
    }

    #individualPicture-2 {
        width: 398px;
    }

    .comment-word {
        margin-left: 240px;
    }
}

@media all and (min-width: 1885px) and (max-width: 2115px)
{
    #my-photos-container-2 {
        margin-left: 32%;
    }

    #my-photos-2 {
        width: 1014px;
        height: 1406px;
    }

    .img-home-page {
        width: 325px;
    }

    #comments {
        margin-left: 1392px;
    }

    #individualPicture-2 {
        width: 335px;
    }

    .comment-word {
        margin-left: 175px;
    }
}

@media all and (min-width: 2000px) and (max-width: 2200px)
{
    #my-photos-container {
        margin-left: 19%;
    }
}

@media all and (min-width: 1885px) and (max-width: 2000px)
{
    #my-photos-container {
        margin-left: 20%;
    }

    #my-photos {
        width: 1400px;
        height: 1735px;
    }

    .img-my-gallery {
        width: 450px;
    }
}

@media all and (min-width: 1885px) and (max-width: 2250px)
{
    #filters {
        width: 520px;
    }

    .takepicture-container {
        margin-left: 450px;
    }

    #takePicture {
        margin-right: 10%;
    }
}

@media all and (min-width: 1650px) and (max-width: 2030px)
{
    .success_modif {
        margin-left: 8%;
    }
}

@media all and (min-width: 1675px) and (max-width: 1885px)
{
    #filters {
        width: 520px;
    }

    .takepicture-container {
        margin-left: 450px;
    }

    #takePicture {
        margin-right: 10%;
        margin-left: 0;
    }

    #my-photos-container {
        margin-left: 23%;
    }

    #my-photos {
        width: 1220px;
        height: 1575px;
    }

    .img-my-gallery {
        width: 400px;
    }

    #my-photos-container-2 {
        margin-left: 38%;
    }

    #my-photos-2 {
        width: 829px;
        height: 1220px;
    }

    .img-home-page {
        width: 263px;
    }

    #comments {
        margin-left: 1185px;
    }

    #individualPicture-2 {
        width: 276px;
    }

    .comment-word {
        margin-left: 125px;
    }
}

@media all and (min-width: 1440px) and (max-width: 1675px)
{
    .takepicture-container {
        margin-left: 390px;
    }

    #takePicture {
        margin-right: 3%;
        margin-left: 0;
    }

    #photos {
        width: 336px;
    }

    #photos img {
        width: 296px;
    }

    #filters {
        width: 520px;
    }

    #my-photos-container {
        margin-left: 23%;
    }

    #my-photos {
        width: 1040px;
        height: 1415px;
    }

    .img-my-gallery {
        width: 345px;
    }

    #my-photos-container-2 {
        margin-left: 51%;
    }

    #my-photos-2 {
        width: 610px;
        height: 1930px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .img-home-page {
        width: 286px;
    }

    #comments {
        margin-left: 958px;
    }

    #individualPicture-2 {
        width: 280px;
    }

    .comment-word {
        margin-left: 145px;
    }
}

@media all and (min-width: 1535px) and (max-width: 1650px)
{
    .success_modif {
        margin-left: 1%;
    }
}


@media all and (min-width: 1050px) and (max-width: 1440px)
{
    .takepicture-container {
        margin-left: 390px;
        flex-direction: column;
        width: 521px;
    }

    #takePicture {
        margin-right: 3%;
        margin-left: 0;
    }

    #photos {
        width: 336px;
        margin-left: 100px;
    }

    #photos img {
        width: 296px;
    }

    #filters {
        width: 520px;
    }

    #photos-block {
        margin-top: 450px;
    }

    #my-photos-container {
        margin-left: 31.5%;
    }

    #my-photos {
        width: 661px;
        height: 2030px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .img-my-gallery {
        width: 330px;
    }

    #my-photos-container-2 {
        margin-left: 58%;
        margin-bottom: 0;
    }

    #my-photos-2 {
        width: 610px;
        height: 1930px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .img-home-page {
        width: 286px;
    }

    #comments {
        position: unset;
        margin-left: 70%;
        margin-top: 145px;
        margin-bottom: 200px;
    }

    #individualPicture-2 {
        width: 280px;
    }

    .comment-word {
        margin-left: 145px;
    }

    #all-pages {
        flex-direction: column;
    }

    .pagination-home-page {
        width: 633px;
    }
}

@media all and (min-width: 1360px) and (max-width: 1535px)
{
    .data{
        width: 644px;
        margin-left: 40%;
    }

    .success_message {
        height: 50px;
        width: 595px;
    }
}

@media all and (min-width: 1050px) and (max-width: 1360px)
{
    .data{
        width: 644px;
        margin-left: 24%;
    }

    .success_message {
        height: 50px;
        width: 595px;
        margin-left: 223px;
    }
}

@media all and (min-width: 830px) and (max-width: 1050px)
{
    .success_modif {
        margin-top: 36px;
        margin-left: 15%;
    }

    .success_message {
        height: 50px;
        width: 595px;
        margin-left: 223px;
        margin-left: 26px;
    }

    .data{
        width: 644px;
        margin-left: 0;
        margin-bottom: 100px;
    }

    ul {
        height: 550px;
        position: unset;
    }

    .profil {
        flex-direction: column;
    }

    .update_info {
        margin-top: 0px;
        margin-left: 20%;
        margin-bottom: 100px;
    }
    
    .formmarg {
        margin-top: 75px;
    }

    .takepicture-container {
        flex-direction: column;
        width: 521px;
        margin-top: 80px;
        margin-left: 20%;
    }

    #takePicture {
        margin-right: 3%;
        margin-left: 0;
    }

    #photos {
        width: 336px;
        margin-left: 100px;
    }

    #photos img {
        width: 296px;
    }

    #filters {
        width: 520px;
    }

    #photos-block {
        margin-top: 450px;
    }

    #my-photos-container {
        margin-left: 12.5%;
    }

    #my-photos {
        width: 661px;
        height: 2030px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .img-my-gallery {
        width: 330px;
    }

    .pagination {
        width: 730px;
    }

    #my-photos-container-2 {
        margin-left: 18%;
        margin-bottom: 0;
    }

    #my-photos-2 {
        width: 610px;
        height: 1930px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .img-home-page {
        width: 286px;
    }

    #comments {
        position: unset;
        margin-left: 26%;
        margin-top: 145px;
        margin-bottom: 200px;
    }

    #individualPicture-2 {
        width: 280px;
    }

    .comment-word {
        margin-left: 145px;
    }

    #all-pages {
        flex-direction: column;
    }

    .pagination-home-page {
        width: 633px;
    }
}

@media all and (min-width: 650px) and (max-width: 830px)
{
    .success_modif {
        margin-top: 36px;
        margin-left: 4%;
    }

    .success_message {
        height: 50px;
        width: 549px;
        margin-left: 223px;
        margin-left: 26px;
    }

    .data{
        width: 598px;
        margin-left: 0;
        margin-bottom: 100px;
    }

    ul {
        height: 550px;
        position: unset;
    }

    .update_info {
        margin-top: 0px;
        margin-left: 4%;
        margin-bottom: 100px;
    }

    .formmarg {
        margin-top: 75px;
    }

    .profil {
        flex-direction: column;
    }

    .takepicture-container {
        flex-direction: column;
        width: 377px;
        margin-top: 80px;
        margin-left: 20%;
    }

    #canvas {
        width: 350px;
        height: 250px;
        margin-left: 4px;
    }

    #takePicture {
        margin-right: 3%;
        margin-left: 0;
        width: 379px;
    }

    #photos {
        width: 336px;
        margin-left: 20px;
    }

    #photos img {
        width: 296px;
    }

    #filters {
        width: 375px;
    }

    #form-upld-img {
        margin-left: 114px;
    }

    #photos-block {
        margin-top: 315px;
    }

    #my-photos-container {
        margin-left: 14.5%;
    }

    #my-photos {
        width: 493px;
        height: 5620px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .img-my-gallery {
        width: 490px;
    }

    .pagination {
        width: 545px;
    }

    #my-photos-container-2 {
        margin-left: 1%;
        margin-bottom: 0;
    }

    #my-photos-2 {
        width: 610px;
        height: 1930px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .img-home-page {
        width: 286px;
    }

    #comments {
        position: unset;
        margin-left: 15%;
        margin-top: 145px;
        margin-bottom: 200px;
    }

    #individualPicture-2 {
        width: 280px;
    }

    .comment-word {
        margin-left: 145px;
    }

    #all-pages {
        flex-direction: column;
    }

    .pagination-home-page {
        width: 633px;
    }

}

@media all and (max-width: 650px)
{
    .success_modif {
        margin-top: 36px;
        margin-left: 4%;
    }

    .success_message {
        height: 50px;
        width: 400px;
        margin-left: 223px;
        margin-left: 26px;
    }

    .data{
        width: 450px;
        margin-left: 0;
        margin-bottom: 100px;
    }

    .datas {
        justify-content: unset;
        margin-left: 10px;
    }

    .title {
        padding-left: 8px;
        width: 15%;
    }

    ul {
        height: 550px;
        position: unset;
    }

    .update_info {
        margin-top: 0px;
        margin-left: -105px;
        margin-bottom: 100px;
    }

    .profil {
        flex-direction: column;
    }


    .welcome_message {
        display: none;
    }

    .formmarg {
        margin-top: 75px;
    }

    .takepicture-container {
        flex-direction: column;
        width: 377px;
        margin-top: 80px;
        margin-left: 0.7%;
    }

    #canvas {
        width: 350px;
        height: 250px;
        margin-left: 4px;
    }

    #takePicture {
        margin-right: 3%;
        margin-left: 0;
        width: 379px;
    }

    #photos {
        width: 336px;
        margin-left: 20px;
    }

    #photos img {
        width: 296px;
    }

    #filters {
        width: 375px;
    }

    #form-upld-img {
        margin-left: 114px;
    }

    #photos-block {
        margin-top: 315px;
    }

    #my-photos-container {
        margin-left: 1%;
    }

    #my-photos {
        width: 432px;
        height: 5620px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .img-my-gallery {
        width: 440px;
    }

    .pagination {
        width: 490px;
    }

    #my-photos-container-2 {
        margin-left: 1%;
        margin-bottom: 0;
    }

    #my-photos-2 {
        width: 450px;
        height: 1570px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .img-home-page {
        width: 210px;
    }

    #comments {
        position: unset;
        margin-left: 4%;
        margin-top: 145px;
        margin-bottom: 200px;
    }

    #individualPicture-2 {
        width: 211px;
    }

    .comment-word {
        margin-left: 70px;
    }

    #all-pages {
        flex-direction: column;
    }

    .pagination-home-page {
        width: 460px;
    }
}