body {
    margin: 0;
    background-color: #FAFAFA;
}

.formsignup input,
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Cadre du formulaire*/

form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 348px;
    border: 1px solid #efefef;
    margin-left: 50%;
    margin-top: 100px;
    margin-bottom: 0;
}


/* texte inscription */

form p {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 18px;
    width: 255px;
    line-height: 21px;
    color: #999;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

input {
    height: 31px;
    width: 255px;
    margin-bottom: 7px;
    font-size: 13px;
    background-color: #FAFAFA;
    border: 1px solid #efefef;
    padding-left: 10px;
}

.button {
    height: 32px;
    width: 255px;
    background-color: #3E99ED;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin-bottom: 50px;
}


/* marge top texte "pas encore de compte ?" */

.formmarg {
    margin-top: 20px;
}


/* margin bottom entre dernier input et button */

.last_input {
    margin-bottom: 30px;
}


/* debut mot de passe oublié */

a {
    font-size: 14px;
    margin-bottom: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: #094786;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(62, 53, 138);
}

.mdpf {
    margin-bottom: 8px;
}


/* mot de passe oublie fin */


/* margin bottom premier bouton et mdpf */

.fbutton {
    margin-bottom: 10px
}

::placeholder {
    color: #999999;
}