/* #form {
    border: 0.05rem solid gray;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 740px;
    padding-left: 2rem;
    padding-right: 1rem;

padding-left: 25px;
padding-right: 25px;

}
*/

body {
    margin: 0;
}

#form {
    width: 280px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-left: 50%;
    margin-top: 15%;
}

#form form {
    width: 450px;
}

input {
    height: 31px;
    width: 255px;
}

.button {
    height: 32px;
    width: 255px;
    background-color: #3E99ED;
    border-radius: 5px;
    color: white;
}