/* #form {
    border: 0.05rem solid gray;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 740px;
    padding-left: 2rem;
    padding-right: 1rem;

padding-left: 25px;
padding-right: 25px;

}
*/

body {
    margin: 0;
}

.formsignup label,
input,
button {
    display: block;
    margin: auto;
}


/* Cadre du formulaire*/

#form {
    display: flex;
    flex-direction: column;
    width: 348px;
    border: 1px solid black;
    margin-left: 50%;
    margin-top: 80px;
}

input {
    height: 31px;
    width: 255px;
    margin-bottom: 15px;
}

.button {
    height: 32px;
    width: 255px;
    background-color: #3E99ED;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.formsignup label {
    width: 261px;
}

.hr {
    align-items: center;
    display: flex;
    text-align: center;
}

.hr::before,
.hr::after {
    border-top: 1px solid;
    content: "";
    flex: 1;
    margin: .05em;
}


/*https://www.matthecat.com/centrer-du-texte-dans-un-hr.html*/