<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>404 error</title>
    <link href="/Camagru/Public/CSS/style_404_error.css" rel="stylesheet" />
</head>

<body>
    <div id="error">
        <p>Oups !</p>
        <p id="page">La page que vous recherchez semble introuvable.</p>
        <p id="p_special"><a href="/Camagru/View/form.php">Retour à la page d'accueil</a></p>
        <img src="/Camagru/Public/Image/404_error.jpg" /><br/>
        <p id="error404">404 error</p>
    </div>
</body>

</html>